*{margin: 0;padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serify;
  
}

.about{
  height: 65vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    padding: 3em;
    background-color: #50577A;
    
}

.links{
  border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    padding: 3em;
    background-color: #50577A;
    text-decoration: none;
}

a{
  text-decoration: none;
    font-style: italic;
    color:#F8FFDB
}
.about h1{
  font-size: 5em;
  color: #CFB997;
  text-align: center;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 1em;
}

.about p{
  text-align: center;
  color: #CFB997;

}

.contact {
  color: #CFB997;
}
